{{ define "content" }}
<div class="container">
    <div class="col-xs-12">

        <h1 class="title hero">Find Packages for Go</h1>

        <p><a href="/">GoDep</a> hosts documentation for Go packages regarding their versions and dependencies.</p>

        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <h4>Popular Packages</h4>
                <p>
                {{ range .Popular }}
                    <a href="/{{ . }}">{{ . }}</a><br>
                {{ end }}
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <h4>Latest Packages</h4>
                <p>
                {{ range .Latest }}
                    <a href="/{{ . }}">{{ . }}</a><br>
                {{ end }}
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <h4>Random Packages</h4>
                <p>
                {{ range .Random }}
                    <a href="/{{ . }}">{{ . }}</a><br>
                {{ end }}
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}
