<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Packages for Go">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <title>godep.org - Packages for Go</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css">
    <link rel="stylesheet" href="/index.css">
</head>

<body>

<header class="page">
    <div class="container">
        <div class="col-xs-12" style="display: flex">
            <div style="flex: auto">
                <h1>
                    <a href="https://godep.org">GoDep</a>
                    <em>Packages for Go</em>
                </h1>
            </div>
            <div>
                <nav>
                    <a href="https://github.com/golang/dep#setup">Install Dep</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<main class="page">
    <div class="container">
        <div class="col-xs-12">
            <div class="page-package">
                <div class="row">
                    <div class="col-xs-12">
                        <header>
                            <h1 class="name">{{ .URL | repositoryName }}</h1>
                            <h3 class="version">{{ .CurrentVersion.Name }}</h3>
                            <div class="clearfix"></div>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-9 content">
                        <p>{{ .Description }}</p>
                        <hr>

                        <pre>import "{{ .URL }}"</pre>
                        <pre>go get -v -u {{ .URL }}</pre>

                    <h4>dep</h4>
                    {{ if .CurrentVersion.Name }}
                        <pre>dep ensure -add {{ .URL }}</pre>
                        <pre>[[constraint]]
name = "{{ .URL }}"
version = "{{ .CurrentVersion.Name }}"</pre>
                    {{ else }}
                        <p>This project hasn't tagged any versions yet.</p>
                    {{ end }}
                    <hr>

                        <!--
                        <h3>Directories</h3>

                        <table>
                            <thead>
                            <tr>
                                <th>Path</th>
                                <th>Synopsis</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="#">cmd/dep</a></td>
                                <td>Command dep is a prototype dependency management tool.</td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/feedback</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/fs</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/gps</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/gps/internal/pb</a></td>
                                <td>Package pb provides generated Protocol Buffers for cache serialization.</td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/gps/paths</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/gps/pkgtree</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers/base</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers/glide</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers/godep</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers/govend</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers/gvt</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers/importertest</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/importers/vndr</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/test</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">internal/test/integration</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#">vendor/github.com/pkg/errors</a></td>
                                <td>Package errors provides simple error handling primitives.</td>
                            </tr>
                            </tbody>
                        </table>
                        -->

                        <p>Updated {{ .Updated | dateFormat "on Jan 02, 2006 03:04:05" }}</p>

                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-3 sidebar">
                    {{ if .License.Name }}
                        <h4>License</h4>
                        <p>
                            <a href="{{ .License.URL }}">{{ .License.Name }}</a>
                        </p>
                    {{ end }}

                    {{ if .Topics }}
                        <h4>Tags</h4>
                    {{ range .Topics }}
                        <a href="{{ .URL }}">#{{ .Name }}</a>
                    {{ end }}
                    {{ end }}

                    {{ if .Versions }}
                        <h4>Versions</h4>
                        <ul style="padding-left: 16px">
                        {{ range .Versions }}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            {{ .Published | dateFormat "on Jan 02, 2006" }}
                            {{ if .Prerelease }}(pre){{ end }}
                            {{ if .Draft }}(draft){{ end }}
                            </li>
                        {{ end }}
                        </ul>
                    {{ end }}

                        <h4>Stats</h4>
                        <table>
                            <tbody>
                            {{ range .Stats }}
                            <tr>
                                <td><a href="{{ .URL }}">{{ .Name }}</a></td>
                                <td>{{ .Value }}</td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page">
    <div class="container">
        <div class="col-xs-12" style="display: flex">
            <div style="flex: auto">
                <p><a href="https://github.com/metalmatze/godep.org">Source</a> | <a
                        href="https://github.com/metalmatze/godep.org/issues">Issues</a></p>
                <p>By <a href="https://github.com/metalmatze">metalmatze</a> | Not official</p>
            </div>
            <div>
                <p><a href="#">back to top</a></p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
